$color_bg_light: #262c37;
$color_bg_dark: #1b1e28;
$color_bg_light_two: #2a2e39;
$color_header_border: #3b414b;
$color_bookmakers_items: #3a4150;
$color_bookmakers_items_hover: #565c68;
$color_sport_items: #363d4c;