// === Mixins ===

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.table {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 85px 85px 85px;

    &_item {
        color: #878889;
        font-size: 19px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;

        &_text {

            &_odd {
                background-color: #22252f;
            }

            &_even {
                background-color: #282b37;
            }
        }

        &_checked {

            &_odd, &_even {
                background-image: url(/dist/img/checkbox-white.svg);
                background-repeat: no-repeat;
                background-position: center;
            }

            &_odd {
                background-color: #808080;
            }

            &_even {
                background-color: #909090;
            }
        }

        &_left {
            justify-content: flex-start;
        }

        &_empty {

            &_2 {
                grid-column-start: 6;
                grid-column-end: 8;
            }
        }
    }
}

.header_a {
    color: #fff;
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
}

.mt-20 {
    margin-top: -20px;
}

.ripple {
    width: 10px;
    height: 10px;
    opacity: 0;
    transform: scale(0);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: fixed;
}

.animate {
    animation: ripple-mo 1s cubic-bezier(0, 0, 0.2, 1);
}
@keyframes ripple-mo {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(10);
        opacity: 0;
    }
}


.selectric {
    border: none;
    border-radius: 7px;
    padding: 15px 45px 15px 20px;
    color: #fff;
    width: 100%;

    span {
        font-size: 21px;
        font-weight: 400;
    }

    &-items {
        border-radius: 7px;
        overflow: hidden;
        margin-top: 3px;
        border: none;

        li {
            padding: 15px 20px;
            font-size: 21px;
            color: #fff;

            &.highlighted, &.selected {
                background-color: #3a4150;
                color: #fff;
            }

            &:nth-child(even) {
                border-bottom: none;
                border-top: 1px solid #929395;
            }
        }
    }
}

.reg_card {
    display: inline-flex;
    flex-direction: column;

    &-container {
        background-color: #fff;
        border-radius: 15px;
        display: flex;
        padding: 18px 40px 18px 18px;

        &-button {
            button {
                border: none;
                background-color: #fc8b2b;
                border-radius: 12px;
                padding: 22px 20px;
                margin-right: 25px;
                font-size: 21px;
                font-weight: 600;
                color: #fff;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                &:hover {
                    background-color: #e47f26;
                }
            }
        }

        &-content {
            h3 {
                font-size: 29px;
                font-weight: 700;
                letter-spacing: 1.5px;
                line-height: 45px;
                color: #323334;

                span {
                    color: #656667;
                }
            }
            
            p {
                color: #656667;
                font-size: 17px;
                font-weight: 500;
                line-height: 15px
            }
        }
    }

    &-subtitle {
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        margin-top: 20px;
        padding: 0 18px;
    }
}

.section_header {
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 1.93px;
    line-height: 65px;
    color: #fff;
}

// === / Mixins ===

// === Header ===

.section-header {

    background-color: $color_bg_light;
    height: 105px;
    border-bottom: 1px solid $color_header_border;
    
    .section-inner {
        height: inherit;
        display: flex;
        align-items: center;
    }

    &-logo {

    }

    &-nav {
        margin: 0 auto 0 90px;
        height: inherit;

        ul {
            height: 100%;
            display: flex;

            li {
                height: inherit;

                &:not(:last-child) {
                    margin-right: 40px;
                }

                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    text-decoration: none;
                    font-size: 21px;
                    font-weight: 700;
                    position: relative;

                    &:hover {
                        &::after {
                            transform: scale(1);
                        }
                    }

                    &::after {
                        position: absolute;
                        content: '';
                        display: block;
                        width: 100%;
                        background-color: #fff;
                        height: 4px;
                        transform: scale(0);
                        transition: all 0.3s ease;
                        bottom: 0;
                    }
                }
            }
        }
    }

    &-language {
        margin-right: 38px;
    }

    &-auth {
        display: flex;
        align-items: center;
        padding: 0 32px;
        border-left: 1px solid $color_header_border;
        border-right: 1px solid $color_header_border;;
        height: 100%;

        img {
            margin-right: 25px;
        }
    }
}

// === / Header ===