// === Header ===

.section-header {

    background-color: $color_bg_light;
    height: 105px;
    border-bottom: 1px solid $color_header_border;

    @media ($media_xl) {
        height: 90px;
    }
    
    .section-inner {
        height: inherit;
        display: flex;
        align-items: center;
    }

    &-logo {
        img {
            max-width: 100%;
        }
    }

    &-nav {
        margin: 0 auto 0 90px;
        height: inherit;

        @media ($media_xl) {
            margin: 0 auto;
        }

        ul {
            height: 100%;
            display: flex;

            li {
                height: inherit;

                &:not(:last-child) {
                    margin-right: 40px;

                    @media ($media_xl) {
                        margin-right: 25px;
                    }
                }

                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;

                    &:hover, &.active {
                        &::after {
                            transform: scale(1);
                        }
                    }

                    &::after {
                        position: absolute;
                        content: '';
                        display: block;
                        width: 100%;
                        background-color: #fff;
                        height: 4px;
                        transform: scale(0);
                        transition: all 0.3s ease;
                        bottom: 0;
                    }
                }
            }
        }
    }

    &-language {
        margin-right: 38px;

        @media ($media_xl) {
            margin-right: 30px;
        }
    }

    &-auth {
        display: flex;
        align-items: center;
        padding: 0 32px;
        border-left: 1px solid $color_header_border;
        border-right: 1px solid $color_header_border;;
        height: 100%;

        @media ($media_xl) {
            padding: 0 25px;
        }

        img {
            margin-right: 25px;

            @media ($media_xl) {
                margin-right: 15px;
            }
        }

        button {
            cursor: pointer;
        }
    }
}

// === / Header ===