@import "normalize";
@import "colors";
@import "grid";
@import "selectric";
@import "mixins";
@import "modal";
@import "header";
@import "footer";

// === 404 ===

.section-404 {
    padding: 90px 0 50px 0;

    @media ($media_sm) {
        padding: 50px 0;
    }

    .section-inner {
        display: grid;
        row-gap: 40px;

        @media ($media_xl) {
            row-gap: 35px;
        }

        img, h1, h2, a {
            justify-self: center;
        }

        img {
            margin-bottom: 30px;

            @media ($media_xl) {
                width: 650px;
            }

            @media ($media_sm) {
                max-width: 100%;
            }
        }

        h1 {
            font-size: 45px;
            font-weight: 700;

            @media ($media_sm) {
                text-align: center;
                font-size: 38px;
            }
        }

        h2 {
            font-size: 27px;
            font-weight: 500;

            @media ($media_sm) {
                text-align: center;
                font-size: 20px;
                line-height: 30px;
            }
        }

        a {
            color: #fff;
            font-size: 22px;
            font-weight: 700;
            text-decoration: none;
            background-color: #3e4657;
            padding: 20px 45px;
            border-radius: 10px;

            @media ($media_sm) {
                font-size: 18px;
                padding: 16px 28px;
                white-space: nowrap;
            }
        }
    }
}

// === / 404 ===