@import "normalize";
@import "colors";
@import "grid";
@import "selectric";
@import "mixins";
@import "modal";
@import "header";
@import "footer";

// === FAQ ===

.section-faq {
    padding: 80px 0;

    .section-inner {

    }

    &-header {
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 1.75px;
    }

    &-subheader {
        font-size: 21px;
        font-weight: 500;
        margin: 30px 0 90px 0;
    }

    &-container {

        &-title {
            font-size: 25px;
            font-weight: 700;
            letter-spacing: 0.33px;
            white-space: nowrap;
            white-space: nowrap;
            display: flex;
            align-items: center;

            &::after {
                content: '';
                height: 1px;
                width: 100%;
                background-color: $color_header_border;
                margin-left: 30px;
            }
        }

        &-items {
            margin: 50px 0;

            &-item {
                padding: 30px 35px;
                background-color: $color_faq_item_close;
                border-radius: 10px;
                transition: 0.3s ease-in-out;
                cursor: pointer;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                &-top {
                    display: flex;
                    justify-content: space-between;

                    p {
                        font-size: 20px;
                        font-weight: 500;

                        b {
                            margin-right: 5px;
                            color: #95989e;
                        }
                    }

                    img {
                        transition: 0.3s ease-in-out;
                    }
                }

                &-bottom {
                    display: none;

                    p {
                        color: #cdced2;
                        font-size: 20px;
                        font-weight: 500;
                        letter-spacing: 0.05px;
                        line-height: 35px;
                        padding-top: 20px;
                        margin-top: 20px;
                        border-top: 1px solid #4a505e;
                    }
                }
            }
        }
    }
}

// === / FAQ ===