@import "normalize";
@import "colors";
@import "grid";
@import "selectric";
@import "mixins";
@import "modal";
@import "header";
@import "footer";

// === Promo ===

.section-promo {
    background-image: url(/dist/img/promo_background-1.svg);
    height: 1050px;
    background-position: 50% -180px;
    background-repeat: no-repeat;
    background-color: $color_bg_dark;

    @media (min-width: 1921px) {
        background-color: $color_bg_light;
        background-image: none;
    }

    // @media ($media_xl) {
    //     background-position: 50% -400px;
    //     height: 800px;
    // }

    .section-inner {
        display: flex;
    }

    &-description {

        &-text {
            color: #fff;
            margin-top: 140px;

            @media ($media_xl) {
                margin-top: 60px;
            }

            h1 {
                font-size: 67px;
                font-weight: 700;
                letter-spacing: 0.07px;
                line-height: 71px;

                @media ($media_xl) {
                    font-size: 56px;
                }

                @media ($media_sm) {
                    font-size: 40px;
                    line-height: 50px;
                }
            }

            h2 {
                margin: 25px 0 50px 0;
                font-size: 42px;
                font-weight: 700;
                letter-spacing: 1.47px;
                line-height: 48px;

                @media ($media_xl) {
                    font-size: 32px;
                    margin: 25px 0 40px 0;
                }
            }

            p {
                font-size: 20px;
                font-weight: 500;
                letter-spacing: -0.8px;
                line-height: 45px;

                @media ($media_xl) {
                    font-size: 16px;
                    line-height: 30px;
                }
            }
        }

        &-info {
            margin-top: 75px;

            @media ($media_xl) {
                margin-top: 40px;
            }
        }

        @media ($media_xl) {
            flex-basis: 80%;
        }
    }

    &-img {
        img {
            @media ($media_xl) {
                max-width: 100%;
            } 
        }

        @media ($media_sm) {
            display: none;
        }
    }
}

// === / Promo ===

// === Facts ===

.section-facts {
    background-color: $color_bg_dark;

    .section-inner {
        padding: 30px 0 200px 0;

        @media ($media_xl) {
            padding: 30px 0 140px 0;
        }

        @media ($media_sm) {
            padding: 80px 0;
        }
    }

    &-header {
        margin-bottom: 100px;

        @media ($media_sm) {
            margin-bottom: 50px;
        }
    }

    &-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 60px 30px;

        @media ($media_sm) {
            grid-template-columns: 1fr;
        }

        &-card {
            border-radius: 9px;
            border: 1px solid #707070;
            min-height: 400px;
            padding: 30px;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media ($media_sm) {
                min-height: 360px;
            }

            &:hover {
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
                background-color: #1b1d28;
                border: none;
            }

            &-top {

                &-icon {
                    h2 {
                        font-size: 65px;
                        font-weight: 700;
                        letter-spacing: 2.27px;
                        line-height: 77px;

                        @media ($media_xl) {
                            font-size: 50px;
                        }
                    }
                }
    
                &-header {
                    h3 {
                        font-size: 30px;
                        font-weight: 700;
                        letter-spacing: -0.81px;
                        line-height: 38px;
                        margin: 20px 0;

                        @media ($media_xl) {
                            font-size: 26px;
                        }
                    }
                }
    
                &-text {
                    p {
                        font-size: 17px;
                        font-weight: 500;
                        letter-spacing: 0.25px;
                        line-height: 30px;
                        opacity: 0.9;

                        @media ($media_xl) {
                            font-size: 15px;
                            line-height: 25px;
                        }
                    }
                }
            }

            &-bottom {
                display: flex;

                span {
                    color: #fc8b2b;
                    font-size: 17px;
                    font-weight: 700;
                    letter-spacing: 0.22px;
                    line-height: 30px;
                    margin-right: 15px;
                }

                img {
                    cursor: pointer;
                }
            }
        }
    }
}

// === / Facts ===

// === About ===

.section-about {
    padding: 100px 0 180px 0;
    background-color: $color_bg_light;

    @media ($media_xl) {
        padding: 100px 0 120px 0;
    }

    .section-inner {
        display: flex;
    }

    &-image {
        img {
            @media ($media_xl) {
                max-width: 100%;
            }
        }

        @media ($media_sm) {
            display: none;
        }
    }

    &-content {
        margin-left: 70px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media ($media_xl) {
            flex-basis: 78%;
        }

        @media ($media_sm) {
            width: 100%;
            margin: 0;
        }

        &-top {

            &-header {
                text-align: left;

                @media ($media_sm) {
                    overflow-wrap: break-word;
                }
            }

            &-items {
                margin: 40px 0 70px 0;

                @media ($media_xl) {
                    margin: 30px 0;
                }

                &-item {
                    display: flex;
                    align-items: center;

                    img {
                        @media ($media_sm) {
                            width: 30px;
                        }
                    }

                    h3 {
                        font-size: 35px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        line-height: 47px;
                        margin-left: 15px;

                        @media ($media_xl) {
                            font-size: 25px;
                            line-height: 35px;
                        }

                        @media ($media_sm) {
                            font-size: 20px;
                            line-height: 25px;
                        }
                    }

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
            }

            &-text {
                font-size: 25px;
                font-weight: 600;
                letter-spacing: 0.88px;
                line-height: 36px;
                width: 85%;

                @media ($media_xl) {
                    width: 100%;
                    font-size: 22px;
                    line-height: 30px;
                }

                @media ($media_sm) {
                    font-size: 17px;
                    line-height: 27px;
                    margin: 30px 0;
                }
            }
        }

        &-bottom {
            &-header {
                font-size: 22px;
                font-weight: 500;
                letter-spacing: -1.38px;
                line-height: 36px;
                margin-bottom: 30px;
                width: 85%;

                @media ($media_xl) {
                    width: 100%;
                    font-size: 18px;
                    margin-bottom: 20px;
                    line-height: 25px;
                }

                @media ($media_sm) {
                    font-size: 17px;
                }
            }
        }
    }
}

// === / About ===

// === Bookmakers ===

.section-bookmakers {
    background-color: $color_bg_light;

    .section-inner {

    }

    &-items {
        display: flex;
        justify-content: center;
        color: #fff;
        margin: 30px 0 90px 0;

        @media ($media_sm) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            grid-gap: 15px;
            margin: 30px 0;
        }

        &-item {
            font-size: 21px;
            font-weight: 700;
            letter-spacing: 0.27px;
            line-height: 28px;
            padding: 15px;
            cursor: pointer;
            border-radius: 11px;
            transition: 0.3s ease-in-out;

            &.active {
                background-color: $color_bookmakers_items;
            }

            &:hover {
                background-color: $color_bookmakers_items_hover;
            }

            &:not(:last-child) {
                margin-right: 30px;

                @media ($media_sm) {
                    margin: 0;
                }
            }
        }
    }

    &-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px 30px;

        @media ($media_sm) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }

        &-img {
            img {
                min-width: 100%;

                @media ($media_xl) {
                    max-width: 100%;
                }
            }
        }
    }

    &-button {
        margin-top: 90px;
        text-align: center;

        @media ($media_sm) {
            margin-top: 30px;
        }

        button {
            border: 1px solid #fff;
            border-radius: 14px;
            background-color: $color_bg_light;
            color: #fff;
            font-size: 19px;
            font-weight: 700;
            padding: 20px 30px;
            cursor: pointer;
        }
    }
}

// === / Bookmakers ===

// === Sport ===

.section-sport {
    background-color: $color_bg_light;
    padding: 150px 0 120px 0;

    @media ($media_xl) {
        padding: 120px 0;
    }

    .section-inner {

    }

    &-header {

    }

    &-items {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-end;

        @media ($media_sm) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 30px;
            grid-gap: 10px;
            align-items: stretch;
        }

        &-item {
            background-color: $color_sport_items;
            display: flex;
            align-items: center;
            padding: 20px 30px;
            border-radius: 12px;
            height: 95px;

            @media ($media_sm) {
                height: auto;
                padding: 20px 15px;
            }

            img {
                @media ($media_sm) {
                    max-width: 30px;
                }
            }

            p {
                font-size: 22px;
                font-weight: 500;
                color: #fff;
                margin-left: 15px;

                @media ($media_sm) {
                    font-size: 16px;
                    margin-left: 10px;
                }
            }

            &:not(:last-child) {
                margin-right: 20px;

                @media ($media_sm) {
                    margin: 0;
                }
            }

            &:last-child {
                margin-top: 20px;

                @media ($media_sm) {
                    margin: 0;
                }
            }

            @media ($media_xl) {
                &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                    margin-bottom: 20px;

                    @media ($media_sm) {
                        margin: 0;
                    }
                }
            }

        }
    }
}

// === / Sport ===

// === Markets ===

.section-markets {
    padding: 100px 0 150px 0;
    background-color: $color_bg_dark;

    .section-inner {

    }

    &-table {
        margin-top: 120px;

        @media ($media_sm) {
            margin-top: 30px;
        }
    }
}

// === / Markets ===

// === Integration ===

.section-integration {
    background-color: $color_bg_light_two;
    padding: 100px 0 140px 0;

    @media ($media_sm) {
        padding: 50px 0;
    }

    .section-inner {

    }

    &-subheader {
        font-size: 35px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        margin: 25px 0 60px 0;

        @media ($media_xl) {
            font-size: 30px;
        }

        @media ($media_sm) {
            font-size: 24px;
            line-height: 30px;
        }
    }

    &-content, &-bottom {
        width: 1050px;
        margin: 0 auto;

        @media ($media_sm) {
            width: 100%;
        }
    }

    &-content {

        &-tabs {
            padding: 0 60px;

            @media ($media_sm) {
                padding: 0;
            }

            span {
                position: relative;
                font-size: 22px;
                font-weight: 400;
                color: $color_integration_tabs;
                letter-spacing: 0.77px;
                cursor: pointer;

                @media ($media_sm) {
                    font-size: 18px;
                }

                &:not(:last-child) {
                    margin-right: 50px;

                    @media ($media_sm) {
                        margin-right: 15px;
                    }
                }

                &:hover {
                    font-weight: 700;
                    color: #fff;
                }

                &.active {
                    font-weight: 700;
                    color: #fc8b2b;

                    &::after {
                        content: "▲";
                        position: absolute;
                        bottom: -35px;
                        color: $color_integration_container;;
                        right: 50%;
                        transform: translateX(50%);
                    }
                }
            }
        }

        &-container {
            background-color: $color_integration_container;
            border-radius: 12px;
            margin: 30px 0 85px 0;
            padding: 30px 45px;
            display: flex;
            justify-content: space-between;

            @media ($media_sm) {
                flex-direction: column;
                align-items: center;
                padding: 15px 20px;
            }

            &-text {
                pre {
                    font-family: 'Montserrat', sans-serif;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0.63px;
                    line-height: 30px;
                    margin: 0;

                    @media ($media_sm) {
                        font-size: 14px;
                        letter-spacing: 0.2px;
                        margin-bottom: 25px;
                    }
                }
            }

            &-button {

                button {
                    border-radius: 9px;
                    border: 1px solid #585d62;
                    background-color: $color_integration_container;
                    color: #585d62;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 12px 56px 12px 20px;
                    position: relative;
                    cursor: pointer;

                    &::after {
                        content: '';
                        position: absolute;
                        right: 16px;
                        background-image: url(/dist/img/copy-icon.svg);
                        width: 20px;
                        height: 22px;
                    }
                }
            }
        }
    }

    &-bottom {
        color: #71788d;
        font-size: 17px;
        font-weight: 400;
        line-height: 28px;

        p {
            a {
                color: #71788d;
                font-weight: 700;
            }

            &:first-child {
                margin-bottom: 40px;
            }
        }
    }
}

// === / Integration ===

// === Join ===

.section-join {
    padding: 190px 0 260px 0;
    color: #fff;

    @media ($media_xl) {
        padding: 150px 0 200px 0;
    }

    @media ($media_sm) {
        padding: 50px 0;
    }

    .section-inner {

    }

    &_footer {
        background-color: $color_bg_light;
        background-image: url(/dist/img/baseball.webp);
        background-repeat: no-repeat;
        background-position: top right;

        .section-footer {
            background-color: transparent;
        }

        @media ($media_xl) {
            background-size: contain;
        }
    }

    &-header {

        &-main {
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 210px;
                font-weight: 700;
                letter-spacing: 2.09px;
                margin: 0 15px;

                @media ($media_xl) {
                    font-size: 180px;
                }

                @media ($media_sm) {
                    margin: 0 15px 0 0;
                    font-size: 68px;
                }
                
            }

            @media ($media_xl) {
                img {
                    width: 120px;
                }
            }

            @media ($media_sm) {
                img {
                    width: 55px;
                }
            }
        }

        &-bottom {
            font-size: 55px;
            font-weight: 700;
            letter-spacing: 2.09px;
            text-align: center;
            margin-top: 40px;

            @media ($media_xl) {
                margin-top: 30px;
                font-size: 50px;
            }

            @media ($media_sm) {
                font-size: 30px;
            }
        }

    }

    &-description {
        margin: 50px 0 100px 0;

        @media ($media_xl) {
            margin: 40px 0 80px 0;
        }

        p {
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 0.46px;
            line-height: 30px;
            text-align: center;

            @media ($media_xl) {
                font-size: 18px;
            }

            &:first-child {
                margin-bottom: 60px;

                @media ($media_xl) {
                    margin-bottom: 40px;
                }
            }
        }
    }

    &-bottom {
        text-align: center;
    }
}

// === / Join ===

// === Modal Fact ===

.modal-fact {

    h2 {
        color: #fb8c2c;
        font-size: 70px;
        line-height: 60px;
        font-weight: 700;
        text-align: left;
    }

    h3 {
        color: #fb8d2c;
        font-size: 30px;
        font-weight: 700;
        line-height: 53px;
    }

    .modal-form-title {
        margin-bottom: 30px;
    }

    &-text {
        font-size: 17px;
        font-weight: 500;
        letter-spacing: -0.46px;
        line-height: 30px;
        color: #e8e8e9;
    }

    button {
        justify-self: flex-start;
        padding: 16px 32px;
    }
}

// === / Modal Fact ===